.reservation-list {
    display: flex;
    justify-content: center;
  }

.reservation-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 250px; /* Adjust the width based on your design */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .reservation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }

  .reservation-card {
    background-color: rgb(169, 169, 181);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .reservation-card:hover {
    transform: scale(1.05);
  }

  h4 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #555;
  }
